/* 
	This file contains the CSS formatting for the web interface of the robot.
	Much of the basis for this code came from Rui Santos's ESP32 tutorials: https://randomnerdtutorials.com/projects-esp32/
	Modifications made by Collin Schofield, with assistance from Github Copilot.
*/

html {
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	text-align: center;
}
h1 {
	font-size: 1.8rem;
	color: white;
}
.topnav {
	overflow: hidden;   
	background-color: #0A1128;
}
body {
	margin: 0;
}
.flex-container {
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	/* height: 100vh; */
}
.content{
	padding: 50px;
	flex: 1;
}